<h5 class="main-body-title">企业安全管理体系的认证</h5>
<div class="main-body-text para">
  <p>
    2010年，西郊分公司开始进行了《职业健康安全管理体系》的认证工作，并在2010年和2011年顺利通过了北京市的外审工作。
  </p>
  <p>
自2010年4月，职业健康安全管理体系建设工作启动以来，西郊分公司职业健康安全管理体系建设成效显著，相关工作取得了长足进展，先后组织完成了初始评审、体系策划与文件编写、体系试运行、体系内审、培训教育等工作，整个管理体系已经建立起来，并顺利运行。
</p>
  <p>
在这两年的体系建设中，各级领导高度重视，相关科室相互配合，准确把握体系建设的实质要求，高度重视员工职业健康安全，牢固树立零伤害和高绩效的职业健康安全目标，为员工营造健康安全、轻松舒适的工作环境，保持企业创新活力；进一步做好全员参与工作，在全体员工中树立职业健康安全意识，并时时应用于日常工作、生活中；注重体
系运行的实际效果，一定要抓好涉及员工健康安全的关键环节，并注重对员工进行心理疏导，确保大家的身心健康；坚持持续改进，不断强化薄弱环节，特别是体系建立后要结合液化气公司实际情况和员工职业特点不断完善、不断创新。
  </p>
</div>