<h5 class="main-body-title">安全可靠的钢瓶质量</h5>
<div class="main-body-text para">
  <h5>一、钢瓶的检测周期和使用寿命 </h5>
  <p>
    公司严格按照国家标准GB5842-2006《液化石油气钢瓶》
规定制造的钢瓶，从出厂之日起设计使用年限为8年，8年后
予以强制报废。
按照GB8334-1999《液化石油气钢瓶定期检验与评定》的
有关规定进行定期检验。
对在用的YSP-0.5型、YSP-2.0型、YSP-5.0型、YSP-10型、
YSP-15型钢瓶，自制造日期起，第一次至第三次检验的检验
周期均为4年，第四次检验有效期为3年；对在用的YSP-50型
钢瓶，每3年检验一次。
  </p>
  <h5>二、新钢瓶投入使用前的检查工作与使用过程中的维修工作</h5>
  <p>
  	新钢瓶必须是具备气瓶制造资格的厂家生产的钢瓶，在
钢瓶的护罩上打有制造单位许可代号和出厂日期，并有当地
质检部门出厂监督检验的标志(CS)。符合以上条件的钢瓶，
用户可以购买并投入使用。
  </p>
  <p class="clearfix">
  	<img class="col-sm-6 col-md-6" src="/assets/20.jpg"/>
    <img class="col-sm-6 col-md-6" src="/assets/21.jpg"/>
  </p>
  <h5>钢瓶日常使用维修工作</h5>
  <p class="clearfix">
  <img class="col-sm-6 col-md-6" src="/assets/22.jpg"/>
  <img class="col-sm-6 col-md-6" src="/assets/23.jpg"/>
  </p>   
</div>