<h5 class="main-body-title">气源质量与生产灌装的安全性</h5>
<div class="main-body-text para">
  <h5>一、气源的采购</h5>
  <p>
    西郊分公司所灌装的液化石油气由北京市液化石油气公司统一采购并调配。公司拥有自己的运输管线，由上游云
冈、阎村储备厂经过Y1管线输送进入球罐，流量计负责计量每日进油量，此为西郊分公司主要进油途径。保障气源质量不添加任何其他可燃气体成分。 
<img class="block" alt="气源质量与生产灌装的安全性" src="<%=asset_path "gas_safety.png"%>"/>
  </p>
  <h5>二、生产灌装的安全保证</h5>
  <p>
    <h6>1、储罐设备安全：</h6>
目前西郊分公司拥有400m³储罐3台；50 m³储罐2台；总储量：606吨；罐区面积：1803m²。
<img class="block" alt="储罐设备安全" src="<%=asset_path "gas_safety_2.png"%>"/>
</p>
<p>
<h6>2、人员资质安全</h6> 
公司严格执行《国家质量监督检验检疫总局关于修改<特种设备作业人员监督管理办法>的决定》，要求从事液化
气罐装工作的人员必须取得该证书，以保证罐装的质量与安全。
<img class="block" alt="人员资质安全" src="<%=asset_path "certificate_1.png"%>"/>
</p>
<p>
<h6>3、灌装管理规定（标准化操作流程）</h6> 
<img class="block" alt="灌装管理规定" src="<%=asset_path "certificate_2.png"%>"/>
</p>
</div>