<h5 class="main-body-title">钢瓶在使用流转过程中的安全监控</h5>
<div class="main-body-text para">
  <h5>一、硬件保障措施</h5>
  <p>
    为保证公司所出售的每一只钢瓶在使用过程中安全可
靠，我们在钢瓶护罩处安装了条形码。每个条形码对应一只
钢瓶，并在电子档案中与相对应钢瓶的钢印号相关联，确保
每只钢瓶的识别信息准确无误。 
<img class="block" src="/assets/24.png"/>
  </p>
  <h5>二、软件保障措施</h5>
  <p>
    分公司采用信息化管理系统以来，在钢瓶流转管理、账
务管理、库存管理、调拨管理、用户档案管理等诸多方面都取
得了重大的成效。在系统中可以完整的监控到每一只钢瓶当前
的状态信息，提高了钢瓶流转的可追溯性。
<br />
钢瓶在系统中的流转记录:
<img class="col-sm-12 col-md-12" src="/assets/25.png"/>
  </p>  
</div>