<ul class="introduction-bar">
	<li class="current"><a href="#">气源质量与生产灌装的安全性</a></li>
	<li><a href="#">安全可靠的钢瓶质量</a></li>
	<li><a href="#">钢瓶在使用流转过程中的安全监控</a></li>
	<li><a href="#">企业安全管理体系的认证</a></li>
</ul> 