<ul class="submenu-bar">
	<li class="<%= submenu_class('gas') %>"><a href="/safety/gas">气源质量与生产灌装的安全性</a></li>
	<li class="<%= submenu_class('ganggping') %>"><a href="/safety/gangping">安全可靠的钢瓶质量</a></li>
	<li class="<%= submenu_class('monitor') %>"><a href="/safety/monitor">钢瓶在使用流转过程中的安全监控</a></li>
	<li class="<%= submenu_class('certificate') %>"><a href="/safety/certificate">企业安全管理体系的认证</a></li>
</ul> 