<%= render layout: 'layouts/two_column_content' do %>

  <h5 class="main-body-title">安全管理</h5>
  <div class="main-body-text para">
  <p>
    
  </p>
  <p>
    
  </p>
  <p>
    
  </p>
  <p>
    
  </p>
  </div>
<% end %>