<% content_for :sidebar do %>
  <%= render 'sidebar' %>
<% end %>
<%= render layout: 'layouts/two_column_content' do %>

  <h5 class="main-body-title">气源质量与生产灌装的安全性</h5>
  <div class="main-body-text para">
  <p>
    
  </p>
  <p>
    
  </p>
  <p>
    
  </p>
  <p>
    
  </p>
  </div>
<% end %>