<h5 class="main-body-title">车辆运输资质及配送人员的岗位资质</h5>
<div class="main-body-text para">
  <h5>
    驾驶员、押运员必须取得由北京市公安局运输管理局颁发的从业资格证。
  </h5>
  <div class="clearfix">
    <div class="image col-sm-6 col-md-6"><img src="<%=asset_path "36.jpg"%>" /></div>
    <div class="image col-sm-6 col-md-6 clearfix"><img src="<%=asset_path "37.jpg"%>" /></div>
  </div>
</div>