<h5 class="main-body-title">规范安全的运输管理制度</h5>
<div class="main-body-text para">
  <p>
    运输管理科对驾驶员、押运员制订了严格的管理制度，以确保安全生产运输。
《车队管理制度》、《驾驶员三检制度》、《押运管理制度》、《机动车使用管理制度》、《通行证使用管理制度》、《危险货物运输违章超速行驶及损坏GPS系统的内部考核规定》等管理制度。车队管理九项规章制度：
<pre>
1.     机动车建档、使用、保养、维修、检查制度 
2.    安全教育管理规定 
3.    车辆行驶状态信息分析制度 
4.    化危运输从业驾驶员、押运员资质审查制度 
5.    化危运输驾驶员、押运员登记制度 
6.    信息卡管理制度 
7.    化危运输驾驶员、押运员培训制度 
8.    重点司机管理制度 
9.    考核、评比制度 
</pre>
  </p>
</div>