<ul class="submenu-bar">
	<li class="<%= submenu_class('team') %>"><a href="/deliver/team">配送车队及人员的运输规模</a></li>
	<li class="<%= submenu_class('certificate') %>"><a href="/deliver/certificate">车辆运输资质及配送人员的岗位资质 </a></li>
	<li class="<%= submenu_class('management') %>"><a href="/deliver/management">规范安全的运输管理制度</a></li>
</ul> 