<h5 class="main-body-title">配送车队及人员的运输规模 </h5>
<div class="main-body-text para">
  <p>
    西郊分公司运输管理科有科室管理人员5名：一名主管科长、一名安全副科长、一名车辆维修管理副科长、一名统计员、一名检验员，管理6个运输班组。
  </p>
  <p>
西郊分公司拥有专业化危运输驾驶员41名、专业化危运输押运员39名，化危运输车辆35辆：其中汽油车25辆、柴油车20辆，负责西郊分公司所辖范围内的民用户及餐饮用户的钢瓶供应的运输配送任务。 
  </p>
  <div class="clearfix">
    <div class="image col-sm-6 col-md-6"><img src="<%=asset_path "32.jpg"%>" /></div>
    <div class="image col-sm-6 col-md-6 clearfix"><img src="<%=asset_path "33.jpg"%>" /></div>
  </div>
  <p>
    运输管理科具有专业部门认可的运输资质。车辆上路必须具有道路运输许可证、配备导电带、防毒面具、危险警示标志、灭火器等设备设施。每年车辆必须经过二级维修保养、等级鉴定等相关检验，方可上路行驶。并且利用GPS系统对车辆随时监控。
<div class="clearfix">
    <div class="image col-sm-6 col-md-6"><img src="<%=asset_path "34.jpg"%>" /></div>
    <div class="image col-sm-6 col-md-6 clearfix"><img src="<%=asset_path "35.jpg"%>" /></div>
  </div>
  </p>  
</div>