<h5 class="main-body-title">相关产品介绍</h5>
<div class="clearfix">
  <div class="image col-sm-3 col-md-3"><img src="/assets/products/gangping_50kg_yexiang.png" /></div>
  <div class="image col-sm-3 col-md-3"><img src="/assets/products/gangping_50kg_qixiang.png" /></div>
  <div class="image col-sm-3 col-md-3"><img src="/assets/products/gangping_15kg.png" /></div>
  <div class="image col-sm-3 col-md-3"><img src="/assets/products/gangping_5kg.png" /></div>
</div>
<div class="main-body-text para">
</div>
