<h5 class="main-body-title">相关产品介绍</h5>
<p>西郊分公司目前在售的气瓶规格有5kg、15kg、50kg（气相）、50kg（液相）。多种规格的气瓶类型可为用户提供不同的需求。</p>
<ul class="clearfix products-list">
  <li class="col-sm-3 col-md-3"><img src="/assets/products/gangping_50kg_yexiang.png" />
    <span class="name">液相50公斤钢瓶</span>
  </li>
  <li class="col-sm-3 col-md-3"><img src="/assets/products/gangping_50kg_qixiang.png" />
    <span class="name">气相50公斤钢瓶</span>
  </li>
  <li class="col-sm-3 col-md-3"><img src="/assets/products/gangping_15kg.png" />
    <span class="name">15公斤钢瓶</span>
  </li>
  <li class="col-sm-3 col-md-3"><img src="/assets/products/gangping_5kg.png" />
    <span class="name">5公斤钢瓶</span>
  </li>
</ul>
<div class="main-body-text para">
  <p>西郊分公司液化气钢瓶重要识别标识，请用户购买时认明此标识，以保证自身的生命及财产安全。</p>
  <img src="/assets/products/gangping_sign.png" />
</div>
