<h5 class="main-body-title">安全知识宣传</h5>
<div class="action">
  <h6>一、二甲醚与液化石油气混用的危害：</h6>
  <ul>
    <li>
      <p>1、对燃气设备的危害：</p>
      <p>长期使用掺杂二甲醚的液化石油气可能导致钢瓶阀门漏气，二甲醚对橡胶有一定腐蚀作用。</p>
    </li>
    <li>
      <p>2、对身体健康的危害：</p>
      <p>通过呼吸道侵途径吸入 ，对中枢神经系统有抑制作用，麻醉作用弱。吸入后可引起麻醉、窒息感，和器官损伤，同时还对皮肤有刺激性。</p>
    </li>
  </ul>
  <div class="clearfix">
    <div class="image col-sm-6 col-md-6"><img src="/assets/safety/safety-1.png" /></div>
    <div class="image col-sm-6 col-md-6 clearfix"><img src="/assets/safety/safety-2.png" /></div>
  </div>
</div>
<div class="action">
  <h6>二、安全用气基本常识和应急措施</h6>
  <ul>
    <li>
      <p>1、基本常识</p>
      <p>发现漏气瓶或点不着火的钢瓶，不准私自修理和放气，请立即联络销售点；修理灶具，须由专业维修部门人员修理。</p>
      <p>必须使用具有国家资质企业生产的钢瓶、减压器及燃气灶具。</p>
      <p>点燃液化石油气灶具必须先点火，后开气，做到“火等气”。如发现液化石油气钢瓶漏气，应立即关闭钢瓶角阀，打开门窗通风，此时不要开关电器设备、拨打电话，防止闪爆。</p>
      <p>装卸减压器：</p>
      <p>减压阀与胶管接口处要连接紧密，应使用管卡夹紧。</p>
      <p>上减压器前，要先检查减压器进气口密封圈是否有脱落、变形。</p>
      <p>减压器与钢瓶角阀是以反扣相连。上减压器时应一手平托减压器阀体，将减压器对准角阀丝扣，另一只手逆时针方向旋转手轮，直至减压阀不再左右晃动为止。</p>
      <p>换瓶时要卸下减压器，卸前必须把钢瓶角阀关闭。</p>
      <p>卸下减压器，要轻轻放在灶板上或其他的干燥物品上，不要随手往地上一扔，这样容易使减压器受损，还容易使进气口密封圈脱落。</p>
      <p>注意事项：</p>
      <p>钢瓶与灶具保持0.5米-1米的距离，严禁在同一房间内同时使用液化石油气和其他明火（如煤气灶、小锅炉、土暖气等）。</p>
      <p>检查减压器上的密封圈是否脱落、丢失、老化，是否与钢瓶链接牢固（减压器正常使用期限为五年，胶管、密封圈正常使用期限为三年）。</p>
      <p>检查漏气的方法：用肥皂水涂抹各连接部位，查看是否漏气。</p>
      <p>钢瓶必须要直立放置，绝不允许卧放或倒放。</p>
      <p>钢瓶必须远离火源，不准开水加温，更不准用明火加热。</p>
      <p>钢瓶在搬运时要轻装、轻卸、不准放在地上滚运，乱碰乱撞，随意敲击，防止损坏发生危险。</p>
      <p>严禁在地下室内使用液化气。</p>
      <p>严禁私自倒气，严禁用明火试漏。</p>
      <p>严禁乱倒残液。</p>
    </li>
    <li>
      <p>2、应急处置：</p>
      <p>一旦发生液化气钢瓶着火，可立即用一块加大的毛巾之类物品，并将其用水沾湿，展开后盖住钢瓶角阀。</p>
      <p>迅速将角阀关闭，切记关闭方向为顺时针，以免关反方向使火势扩大。</p>
      <p>将明火扑灭后，如仍漏气，要迅速将液化气罐从室内转移到室外宽敞通风地带。</p>
      <p>最后可拨打电话与钢瓶供应单位联系，进行现场勘查。</p>
    </li>
  </ul>
</div>
