<ul class="introduction-bar">
	<li class="current"><a href="#">企业概述及规模</a></li>
	<li><a href="#">相关产品介绍</a></li>
	<li><a href="#">安全管理</a></li>
	<li><a href="#">灌装与质量</a></li>
	<li><a href="#">企业概述及规模</a></li>
</ul> 