<ul class="submenu-bar">
  <li class="<%= submenu_class('summary') %>"><a href="/intro/summary">企业概述及规模</a></li>
  <li class="<%= submenu_class('products') %>"><a href="/intro/products">相关产品介绍</a></li>
  <li class="<%= submenu_class('advertise') %>"><a href="/intro/advertise">企业形象宣传</a></li>
  <li class="<%= submenu_class('safety') %>"><a href="/intro/safety">安全知识宣传</a></li>
</ul>