<% content_for :head do %>  
  <%= stylesheet_link_tag 'common' %>  
<% end %> 

<div class="content-sperator"></div>
<div class="content-body">
	<div class="sidebar col-sm-4 col-md-2">
		<ul class="introduction-bar">
			<li class="current"><a href="#">企业概述及规模</a></li>
			<li><a href="#">相关产品介绍</a></li>
			<li><a href="#">安全管理</a></li>
			<li><a href="#">灌装与质量</a></li>
			<li><a href="#">企业概述及规模</a></li>
		</ul>   
    </div>
    <div class="brief col-sm-8 col-md-10">
      <h5 class="main-body-title">企业概述及规模</h5>
      <div class="clearfix">
      <div class="image col-sm-6 col-md-6"><img src="assets/3.png" /></div>
      <div class="image col-sm-6 col-md-6 clearfix"><img src="assets/4.png" /></div>
      </div>
      <p class="main-body-text para">

    北京市液化石油气公司是国家大型一类燃气企业，经营范围主要包括：
液化石油气储存、灌装、运输、销售、燃气工程设计施工，设备维修及燃气具
销售，以液化气作燃料的汽车改装工作，以及液化石油气加气站的建设、对外
经营等。公司下设储备分公司、西郊分公司、南郊分公司、设备工程分公司、
三鳞钢瓶检测检修有限公司以及四个销售管理所等基层单位。现有职工2200人，
固定资产10.13亿元，储备能力为1.8万吨，液化气长输管线206公里，液化气供
应站67个，供应平、议价用户135万户，年销售量16余万吨。
    公司历经30余年的发展，建立了大规模的贮备、输配、销售系统和一支优
秀的技术队伍，具备了液化气及其专用设备灶具的零售、批发；承接燃气工程
的设计、施工；大型专业设备维护、技术开发等完善的服务功能，并在技术方
面始终处于国内先进行列，在同行业中有较高的声誉。
      
　　&nbsp;&nbsp;公司注重新技术的应用，把科学技术进步作为企业发展的龙头。公司成立
以来，投入了大量的人力、物力和财力，用于信息化技术的开发和应用，新供
应方式的推广、液化气多用途的试验等。同时公司注重不断学习同行及国外的
先进经验技术， 广泛开展技术交流与合作，积极参与各种组织。目前，我公司
是世界液化石油气论坛成员单位，中国城市燃气协会常务理事单位，中国城市
燃气学会液化气专业委员会主任单位，北京市燃气协会副理事长单位等。 
西郊分公司始建于1964年，1965年正式投产运行。经过1978年扩建、
1990年停产重建，后经2003、2011年两次车间改造，投入生产至今。
分公司位于海淀区板井村彰化村路南侧，占地面积39853.81m2,总建
筑面积11500平方米，归属于海淀区八里庄街道办事处，在职职工共计442人，
年设计灌装能力：50000吨。
</p>   
    </div>
</div>



