<% content_for :sidebar do %>
  <%= render 'sidebar' %>
<% end %>
<%= render layout: 'layouts/two_column_content' do %>
  <div class="intro-content">
    <%= render "introduction/#{@active_submenu}" %>
  </div>
<% end %>