<% content_for :head do %>  
  <%= stylesheet_link_tag 'home' %>  
<% end %> 

<div class="hero_container">
	<div class="hero">
		<div class="image_border">
			<img src="assets/2.png"/>
		</div>
		<div>
			<p class="slogans">
				<span class="slogan">科学管理 安全可靠 保证供应 </span>
				<span class="slogan">规范服务 安全为魂 服务为本</span>	
			</p>
			<button class="btn btn-warning btn-lg btn-buy hidden-xs" type="button">立即订购</button>
			<button class="btn btn-warning btn-lg btn-buy-xs visible-xs" type="button">立即订购</button>
		</div>
	</div>
</div>

<div class="intro_container">
	<div class="intro content-container row">
		<div class="col-sm-6 col-md-4">
    		<a href="#" class="thumbnail">
      			<img src="assets/6.png" alt="产品介绍">
    		</a>
  		</div>
  		<div class="col-sm-6 col-md-4">
    		<a href="#" class="thumbnail">
      			<img src="assets/8.png" alt="企业形象">
    		</a>
  		</div>
  		<div class="col-sm-6 col-md-4">
    		<a href="#" class="thumbnail">
      			<img src="assets/28.png" alt="自动化灌装工艺">
    		</a>
  		</div>
	</div>
</div>

