<a href="/news/new">创建新企业动态</a>
<div class="news-list">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>内容</th>
        <th>发布时间</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <%- @news_list.each do |news| %>
      <tr>
        <td><%=news.content%></td>
        <td><%=news.updated_at%></td>
        <td>
          <a><span class="action">编辑</span></a>
          <span class="seperator">|</span>
          <a><span class="action">删除</span></a>
        </td>
      </tr>
      <%- end %>
    </tbody>
  </table>
</div>