<%= render layout: 'layouts/one_column_content' do %>
<div class="main-body-text para">
  <h5>一、民用气用户开户自提与预约配送流程 </h5>
  <p>
    <img class="block" width="85%" alt="民用气用户开户自提与预约配送流程" src="<%=asset_path "kaihu.png"%>"/>
  </p>
  <h5>二、民用气用户退户流程 </h5>
  <p>
    <img class="block" width="85%" alt="民用气用户退户流程" src="<%=asset_path "tuihu.png"%>"/>
  </p>
</div>
<% end %>