



.content-sperator { margin-top: -3px; height: 2px; background: url("bg_b.jpg") repeat scroll center center transparent; }
.content-body {max-width: $content-width; margin: 0px auto; }
.main-body-title { color: $title-color; font-size: 25px; font-weight: bold; margin: 20px 0;}
.main-body-text {
  font-size: 16px;
  img.block {
    display: block;
    margin: 10px 0 20px;
  }
  h5 {
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0 15px;
  } 
  h6 {
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0 10px;
  }
}
.brief .image {margin-bottom: 20px; margin-left: -14px;}
.brief .image img{width: 100%;border: 2px solid #fff; outline: 1px solid #eee; }
.para p {text-indent: 2em; line-height: 30px;}

.submenu-bar {
  margin-top: 20px;
  font-size: 15px;
  li {
    padding: 7px 0;
    position: relative;
    a {
      color: lighten($blue, 20%);
    }
    &.current {
      a {
        color: darken($blue, 10%);
        cursor: default;
        &:hover {
          text-decoration: none;
        }
        &:before {
          content: "\f105";
          font-family: FontAwesome;
          position: absolute;
          top: 7px;
          left: -12px;
          font-size: 16px;
        }
      }
    }
  }
}

.gas-modal {
  .modal-content {
    border-radius: 0;
  }
  .modal-header { 
    background-color: $blue;
    color: white;
    button.close {
      font-size: 30px; 
      color: white;
      opacity: 0.8;
      &:hover {
        opacity:1;
      }
    }
  }
  .modal-body { 
    font-size: 14px;
    .form-item {  
      width: 100%; 
      padding-bottom: 15px;
      span.control-label { 
        display:inline-block; 
        width: 15px; 
      }
      .form-label {
        width: 70px;
        font-weight: normal;
      }
      .inline-input {
        width: 70%; 
        display: inline-block; 
      }
      i.icon-asterisk { font-size: 12px;}
      .warning { color: $red; }
      .small-input {
        width: 120px;
      }
    }
    .form-item.last { padding-bottom: 5px;}
  }
  .modal-footer {
    button.btn-blue {
      background-color: $blue;
      color: white;
      &:hover {
        background-color: $blue-active;
      }
    }
  }
}