.intro-content {
  margin: 20px 0;
  .products-list {
    margin: 20px 0;
    li {
      .product-item {
        border: 2px solid $blue-light;
        @include box-shadow(0 0 3px rgba($blue, 0.5));
        img {
          width: 100%;
        }
        .name {
          background: $blue-light;
          color: #FFF;
          display: block;
          text-align: center;
          padding: 5px 0;
        }
      }
    }
  }
  .sign-img {
    width: 100%;
    @include box-shadow(0 0 5px rgba(#000, 0.3));
  }
  ul.slogan {
    margin: 28px 0;
    li {
      color: $blue;
      font-size: 24px;
      display: inline-block;
      margin-right: 15px;
    }
  }
  .action {
    h6 {
      font-size: 16px;
      color: darken($blue, 20%);
      margin: 30px 0 8px;
    }
    img {
      @include box-shadow(0 0 5px rgba(#000, 0.3));
      margin-top: 10px;
    }
    p.em {
      font-weight: bold;
      font-size: 14px;
      margin: 5px 0 3px;
    }
  }
}