/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "twitter/bootstrap";

/* common */
html * {margin: 0; padding: 0; font-family: Microsoft YaHei;}
ul {list-style: none;}
.content-container {max-width: 992px; margin: 0 auto;}

/* header */
.header {background: url("bg_h.jpg");}
.header_title {height: 90px; background: url("bg_h.jpg"); position: relative; }
.header_title .title{text-decoration: none; float:left;}
.header_title .logo {width: 88px; position:absolute; left: 0px; top: 0px;}
.header_title .title .text {margin-left: 110px; color: #2A6496; padding-top: 20px; line-height: 29px;}
.header_title .title .text .ch{font-size: 35px; line-height: 23px; display:block;}
.header_title .title .text .en{font-size: 23px;}
.nav_bg {border-top: 1px solid #ddd; background: url("bg_h.jpg"); height: 85px;}
.nav_menu {background-color: #fff; height: 80px;}
.nav_bar {margin: 0 auto; max-width: 992px;}
.nav_bar li{width: 18%; height: 80px; float: left; border-right: 1px solid #ddd; text-align: center; padding-top: 32px; font-size: 17px; color: #2A6496;}
.nav_bar li.last{border-right:none;}
.nav_bar li:hover{background: #f8f8f8;}


/* Phones (<768px) */
.nav_menu_m {float: right; margin-right: 10px; margin-top: 22px;}