/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "twitter/bootstrap";

ul {list-style: none;}

#header {background: url("bg_h.jpg"); height: 178px; }
#header_title {height: 90px; border-bottom: 1px solid #ddd;}
#navigation_container {background-color: #fff; height: 80px;}
#navigation_bar {margin: 0 auto; width: 966px;}
#navigation_bar li{width: 140px; height: 80px; float: left; border-right: 1px solid #ddd; text-align: center; padding-top: 32px;}
#navigation_bar li:hover{background: #f2f2f2;}