@import "variables";

.content-sperator { margin-top: -3px; height: 2px; background: url("bg_b.jpg") repeat scroll center center transparent; }
.content-body {max-width: $content-width; margin: 0px auto; }

.main-body-title { color: $title-color; font-size: 25px; font-weight: bold; margin: 20px 0; font-family: Microsoft YaHei;}
.main-body-text {font-size: 16px; }

.brief .image {margin-bottom: 20px; margin-left: -14px;}
.brief .image img{width: 100%;border: 2px solid #fff; outline: 1px solid #eee; }

.introduction-bar {margin-top: 20px; font-size: 15px;}
.introduction-bar li {padding: 7px 0;}

.para p {text-indent: 2em; line-height: 30px;}