<% content_for :content do %>
<div class="content-body clearfix">
    <div class="brief col-sm-12 col-md-12">
      <%= yield %>
    </div>
</div>
<% end %>
<%= render template: "layouts/application" %>