<% content_for :content do %>
<!--<div class="content-sperator"></div>-->
<div class="content-body clearfix">
	<div class="sidebar col-sm-4 col-md-2">
		<%= yield :sidebar %>   
    </div>
    <div class="brief col-sm-8 col-md-10">
      <%= yield %>
    </div>
</div>
<% end %>
<%= render template: "layouts/application" %>