<!DOCTYPE html>
<html>
<head>
  <title>BjgasRepo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
  	<div id="header_title"></div>
	<div id="navigation_container">
	  <ul id="navigation_bar">
	    <li>首页</li>
	    <li>公司简介</li>
	    <li>业务介绍</li>
	    <li>运输与配送</li>
	    <li>网点地址</li>
	    <li>...</li>
	  </ul>
	</div>
  </div>
  
<%= yield %>

</body>
</html>
